// Footer

footer {
  background-image: url(../img/footer-bg.png);
  background-color: $blue-light;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  @include background-cover;
  padding: 500px 0 50px;
  font-size: 16px;
  color: $orange;
  img {
    width: 90px;
    margin-bottom: 3px;
  }
  span.copyright {
    line-height: 40px;
    @include heading-font;
    text-transform: none;
  }
}

