// Footer

footer {
  background-color: #205b5f;
  font-size: 14px;
  padding: 50px 0 0;
  color: $gray-light;
  text-decoration: none;
  width: 100vw;

  p {
    font-size: 14px;
  }

  .footer-top {
    color: $primary;

    > div:not(:last-child) {

      @include smaller-device {
        margin-bottom: 40px;
      }
    }

    @include smaller-device {
      align-items: center;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

  .more {
    color: $orange-lighter;
  }

  .footer-bottom {
    background-color: $gray-bg;
    line-height: 2em;
    margin: 50px 0 0;
    padding: 1em;
    a {
      color: $gray-light;
    }

    @include smaller-device {
      align-items: center;
      display: flex;
      flex-direction: column;
      text-align: center;

      .footer-bottom-links {
        width: 100vw;
        padding: 10px;
      }

      .socials {
        margin: 10px;
      }
      
    }
    @include phablet {
      .sitemap {
        text-align: right;
      }
    }
  }

  i {
    margin-right: 0.5em;
    .fa.fa-question-circle {
      color: $blue-lighter;
    }
  }

  .btn-feedback {
    @include button-variant($white, $gray-light, $gray-light);
    margin-top: 1.9em;
  }

  .btn-eligibility {
    @include button-variant($white, $orange, $orange);
    padding: 10px 5px;
  }

  .btn {
    font-size: 0.9em;
    border-radius: 0.4em;
    white-space: normal;
    width: 100%;
  }

  .socials {
    text-align: center;
  }

  .share-feedback {
    background-color: $black-trans-lighter;
    border-radius: 1.5em;
    position:fixed;
    bottom: 1em;
    right: 2em;
    padding: 0.5em 1em;
    span {
      padding: 0.8em 1.8em 0.8em 1em;
      background-color: $gray-lighter;
      border-radius: 1.5em;
      margin-top: 3em;
      color: $orange;
      vertical-align: middle;
      font-size: 0.9em;
    }
    img {
      border-radius: 50%;
      padding: 0.8em;
      background-color: $gray-lighter;
      margin: 0 0 0 -1.5em;
      opacity: 0.9;
      width: 80px;
    }
  }

  .share-feedback:hover {
    background-color: $black-trans-light;
  }

}
