// Custom Navigation Bar

.navbar-custom {
  background-color: $primary;
  border-color: transparent;
  border-radius: 0;

  .navbar-brand > img {
    width: 100px;
  }

  .navbar-toggler {
    background-color: $primary;
    border-color: $primary;
    color: white;
    font-size: 24px;
    border-radius: 0;
    outline: none;
    &:focus {
      background-color: $primary;
    }
    &:hover,
    &[aria-expanded="true"] {
      background-color: $orange;
    }
  }
  .navbar-toggleable-sm {
    text-align: right;
    clear: right;
    &.in>.nav {
      li {
        a {
          background: rgba(255, 255, 255, 0.2);
          border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        }
        a:hover,
        a:focus {
          color: white;
          outline: none;
        }
      }
    }
  }
  .nav {
    margin-left: 2px;
    li {
      a {
        @include lato-font;
        font-weight: 400;
        letter-spacing: 0.3px;
        color: rgba(255, 255, 255, 0.7);
        font-size: 14px;
        padding: 8px 12px;
        &:hover,
        &:focus {
          cursor: pointer;
          color: white;
          outline: none;
          &:before {
            position: absolute;
            margin-top: 20px;
            margin-left: 12px;
            color: transparent;
            content: "\2022";
            text-shadow: transparent 0px 0px;
            font-size: 0.5em;
            transform: translateX(-50%);
            pointer-events: none;
            transition: text-shadow 0.3s, color 0.3s;
            color: #fff;
            text-shadow: 7px 0 #fff, -7px 0 #fff;
          }
        }
      }
    }
  }
  .navbar-nav>li>a.active {
    border-radius: 0;
    color: white;
    &:before {
      position: absolute;
      margin-top: 20px;
      margin-left: 12px;
      color: transparent;
      content: "\2022";
      text-shadow: transparent 0px 0px;
      font-size: 0.5em;
      transform: translateX(-50%);
      pointer-events: none;
      transition: text-shadow 0.3s, color 0.3s;
      color: $orange;
      text-shadow: 7px 0 $orange, -7px 0 $orange;
    }
  }
}

// sections

//@media(max-width:768px) {
//  div.body-pad {
//    padding: 0 30px;
//  }
//}

@media(min-width:768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0 30px;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
    .navbar-brand {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
  }
}

// Navbar Change on Scroll

@media(min-width:768px) {
  .navbar-custom.is-sticky {
    background-color: $gray-bg;
    padding: 8px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    .navbar-brand {
      img {
        width: 90px;
      }
    }
  }
}

