// Custom Navigation Bar

.navbar-custom {
  border-color: transparent;
  border-radius: 0;

  .navbar-brand > img {
    width: 100px;
  }

  .navbar-toggler {
    color: white;
    border-color: transparent;
    font-size: 28px;
    padding: 0 0 0.5rem;
    border-radius: 0;
    outline: none;
    &:hover {
      color: white;
    }
    &[aria-expanded="true"] {
      color: $orange;
    }
  }
  .navbar-toggleable-sm {
    clear: right;
    &.in>.nav {
      li {
        & > a {
          background: $gray-bg;
          border-bottom: 1px solid $white-trans-lighter;
          &:hover,
          &:focus {
            color: white;
            outline: none;
          }
        }
      }
    }
  }
  .nav {
    li {
      a.nav-link,
      a.dropdown-item {
        @include lato-font;
        font-weight: 400;
        letter-spacing: 0.3px;
        color: $white-trans;
        font-size: 14px;
        padding: 8px 12px;
        &:hover,
        &:focus {
          cursor: pointer;
          color: white;
          outline: none;
        }
      }
      
      a.dropdown-item {
        &:hover,
        &:focus{
          background: transparent;
        }
      }
    }
  }
  .navbar-nav>li {
    &>a.active {
      border-radius: 0;
      color: white;
      .caret {
        border-color: white;
      }
      &:before {
        position: absolute;
        margin-top: 20px;
        margin-left: 9px;
        content: "\2022";
        font-size: 0.5em;
        pointer-events: none;
        color: $orange;
        text-shadow: 7px 0 $orange, -7px 0 $orange;
      }
    }
    .dropdown-item.active {
      color: $orange;
      background-color: $black-trans-lighter;
      &:hover,
      &:focus {
        background: $black-trans-lighter;
      }
    }
  }
}

@media(min-width:768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0 30px;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
    .navbar-brand {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
  }
}

// Navbar Change on Scroll
.navbar-custom.is-sticky {
  background-color: $gray-bg;
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  .navbar-brand {
    img {
      width: 90px;
    }
  }
}

// Navbar dropdown
.nav-item.dropdown {
  margin-right: 15px;

  .dropdown-toggle::after {
    content: initial;
  }

  .caret {
    position: absolute;
    top: 50%;
    margin-left: 8px;
    right: 0;
    width: 7px;
    height: 7px;
    background: transparent;
    border-top: 2px solid rgba(255, 255, 255, 0.7);
    border-right: 2px solid rgba(255, 255, 255, 0.7);
    transition: all 200ms ease;
    
    &.down {
      transform: translate3d(0,-50%,0) rotate(135deg);
    }
  }

  .dropdown-menu {
    margin: 0;
    background-color: $gray-bg;
    border: none;
    border-top: 20px solid transparent;
    border-radius: 0;

    .dropdown-item:hover {
      background: $black-trans-lighter;
    }

    &:before {
      position: absolute;
      content: "";
      border: 8px solid transparent;
      border-bottom-color: $gray-bg;
      z-index: 990;
      left: 8px;
      bottom: 100%;
    }
  }

  &:hover .dropdown-menu {
    display: block;
  }

  @include mobile {
    margin-right: 0;

    .caret {
      right: 12px;
      margin-left: 0;
    }

    .dropdown-menu {
      background-color: $gray-bg;
      right: 0;
      top: 13px;

      .dropdown-item {
        background: $black-trans-light;
        border-bottom: 1px solid $white-trans-lighter;
        &:focus {
          background: $black-trans;
        }
      }

      &:before {
        border-bottom-color: $black-trans-light;
        left: auto;
        right: 8px;
        bottom: calc(100% - 5px);
      }
    }
  }
}
