$primary: #57c6d4;
$blue-lighter: #f7ffff;
$blue-light: #e7fcfa;
$blue-dark: #335578;
$gold:    #f7af1e;
$orange:     #fc7138;
$blue:     #1eb7fc;

$gray-base:			#000 !default;
$gray-darker:		lighten($gray-base, 13.5%) !default;
$gray-dark:			lighten($gray-base, 20%) !default;
$gray:				lighten($gray-base, 33.5%) !default;
$gray-light:		lighten($gray-base, 46.7%) !default;
$gray-lighter:		lighten($gray-base, 93.5%) !default;