@import "variables.scss";
@import "mixins.scss";

// Global Components

body {
  overflow-x: hidden;
  @include lato-font;
}

.text-muted {
  color: $gray-light;
}

.text-primary {
  color: $primary !important;
}

p {
  font-size: 16px;
  line-height: 1.75;
  font-weight: 300;
  @include roboto-font;
}

p.large {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}

a {
  color: $primary;
}

a:hover,
a:focus,
a:active,
a.active {
  color: darken($primary, 10%);
}

h1, h2, h3, h4, h5, h6 {
  @include lato-font;
}

.img-centered {
  margin: 0 auto;
}

.bg-light-blue {
  background-color: $blue-light;
}

.bg-lighter-blue {
  background-color: $blue-lighter;
}

// Restyled Primary Buttons

.btn-primary {
  @include button-variant(white, $primary, $primary);
}

.btn-action {
  @include button-variant(white, $orange, $orange);
  font-size: 22px;
}

// Custom Navigation Bar

.navbar-custom {
  background-color: $primary;
  border-color: transparent;
  border-radius: 0;
  .navbar-brand > img {
    width: 100px;
  }
  .navbar-toggler {
    background-color: $primary;
    border-color: $primary;
    color: white;
    font-size: 24px;
    border-radius: 0;
    outline: none;
    &:focus {
      background-color: $primary;
    }
    &:hover,
    &[aria-expanded="true"] {
      background-color: $orange;
    }
  }
  .navbar-toggleable-sm {
    text-align: right;
    clear: right;      
    &.in>.nav {
      li {
        a {
          background: rgba(255, 255, 255, 0.2);
          border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        }
        a:hover,
        a:focus {
          color: white;
          outline: none;
        }
      }
    }
  }
  .nav {
    margin-left: 2px;
    li {
      a {
        @include lato-font;
        font-weight: 400;
        letter-spacing: 0.3px;
        color: rgba(255, 255, 255, 0.7);
        font-size: 14px;
        padding: 8px 12px;
        &:hover,
        &:focus {
          cursor: pointer;
          color: white;
          outline: none;
          &:before {
            position: absolute;
            margin-top: 20px;
            margin-left: 12px;
            color: transparent;
            content: "\2022";
            text-shadow: transparent 0px 0px;
            font-size: 0.5em;
            transform: translateX(-50%);
            pointer-events: none;
            transition: text-shadow 0.3s, color 0.3s;
            color: #fff;
            text-shadow: 7px 0 #fff, -7px 0 #fff;
          }
        }
      }
    }
  }
  .navbar-nav>li>a.active {
    border-radius: 0;
    color: white;
    &:before {
      position: absolute;
      margin-top: 20px;
      margin-left: 12px;
      color: transparent;
      content: "\2022";
      text-shadow: transparent 0px 0px;
      font-size: 0.5em;
      transform: translateX(-50%);
      pointer-events: none;
      transition: text-shadow 0.3s, color 0.3s;
      color: $orange;
      text-shadow: 7px 0 $orange, -7px 0 $orange;
    }
  }
}

// sections

@media(max-width:768px) {
  div.body-pad {
    padding: 0 30px;
  }
}

@media(min-width:768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0 30px;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
    .navbar-brand {
      opacity: 0.7;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
  }
}

// Navbar Change on Scroll

@media(min-width:768px) {
  .navbar-custom.is-sticky {
    background-color: $gray-bg;
    padding: 8px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    .navbar-brand {
      img {
        width: 90px;
      }
    }
  }
}

.intro {
  color: white;
  height: 100vh;
  background: url(../img/header-bg.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  .intro-text {
    padding-top: 100px;
    padding-bottom: 150px;
    .intro-lead-in {
      @include sans-font;
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 25px;
    }
    .intro-heading {
      @include roboto-font;
      font-weight: 700;
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 25px;
    }
    img {
      width: 100%;
      opacity: 0.1;
    }
  }
  .overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
  }
}

// cta

.cta {
  height: 80px;
  margin-top: -80px;
  color: $gray-light;
  background: $gray-bg;
  padding-top: 15px;
  position: absolute;
  width: 100%;
  .action {
    font-size: 24px;
    margin-top: 6px;
  }
}

.home-content {
  &.place {
    margin-top: 60px;
    p {
      font-size: 20px;
      color: rgba(255, 255, 255, 0.15);
      text-shadow: 2px 2px 4px black;
    }
  }
  h1 {
    @include roboto-font;
    color: $blue-light;
    line-height: 1.4;
    font-weight: 600;
    font-size: 42px;
    text-shadow: 0px 3px 4px black;
  }
}

// proof

.proof {
  background: #e9ecef;
  padding: 60px 0;
  box-shadow: 0px 6px 8px rgba(171, 171, 171, 0.3);
  .row.divide {
    [class*='col-']:last-child {
      padding-left: 40px;
    }
    [class*='col-']:not(:last-child) {
      padding-right: 40px;
      &:after {
        background: #e0e0e0;
        width: 2px;
        content: "";
        display:block;
        position: absolute;
        top:0;
        bottom: 0;
        right: 0;
      }
    }
    p {
      font-size: 18px;
      color: #7b7b7b;
      padding: 40px 0;
    }
  }
}

// volunteer

.volunteer {
  color : #405a6b;
  .profile {
    padding: 100px 0;
    background-size: cover;
    .name {
      text-transform: uppercase;
      font-size: 16px;
    }
    .title,
    .role {
      font-size: 14px;
      margin-bottom: 0;
    }
  }
  .header{
    @include lato-font;    
    padding-top: 50px;
    line-height: 1.5;
    h4 {
      font-size: 28px;
      line-height: 1.5;
    }
  }
  .picture{
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
  }
  .action {
    // color: $blue;
    padding-top: 50px;
    font-weight: 400;
  }
}

@media(min-width:768px) {
  .intro {
    .intro-text {
      padding-top: 35vh;
      padding-bottom: 500px;
      .intro-lead-in {
        @include sans-font;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
      }
      .intro-heading {
        @include roboto-font;
        font-weight: 700;
        font-size: 55px;
        line-height: 75px;
        margin-bottom: 30px;
      }
    }
  }
}

// Section Styles

.section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    @include sans-font;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 75px;
  }
}

@media(min-width:768px) {
  .section {
    padding: 200px 0;
  }
}

// why Section

.why-bg {
  text-align: center;
  background: rgba(255, 255, 255, 0.3);

  .why-section {
    padding: 0;
    z-index: 10;
    padding-top: 250px;

    &.last {
      background: rgba(255, 255, 255, 0.5);
      z-index: 1;

      .why-text {
        text-align: left;
        margin-top: 50px;
        h4 {
          padding-bottom: 10px;
          font-size: 22px;
          font-weight: 300;
          color: $primary;
        }
        p {
          font-size: 22px;
        }
      }
    }
    &:last-child {
      border-right: 1px solid $blue-light;
      background: rgba(255, 255, 255, 0.7);
    }
    img {
      width: 100%;
    }
  }
}

// whoami Section

.whoami-bg {
  padding-top: 0;
  text-align: center;
  background: $blue-lighter;
  .whoami-section {
    padding: 0;
    z-index: 10;
    padding-top: 250px;
    .whoami-text {
      text-align: left;
      margin-top: 50px;
      h4 {
        padding-bottom: 10px;
        font-size: 22px;
        font-weight: 300;
        color: $primary;
      }
      p {
        font-size: 22px;
      }
    }
  }
}

// Services Section

.how {
  .service-col {
    margin-bottom: 30px;
    background: #fff;
    padding: 70px 55px;
    text-align: center;
    .picture {
      width: 60px;
      margin-bottom: 30px;
    }
    .service-heading {
      margin: 12px 0;
      font-size: 22px;
      font-weight: 300;
      color: $blue-dark;
      text-transform: none;
    }
    p {
      font-size: 20px;
    }
  }

  .section-heading {
    color: $gray-dark;
    font-size: 22px;
    font-weight: 300;
  }
}

// testimony section

.testimony {
  color: white;
  height: 70vh;
  background: url(../img/testimony-bg.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  .intro-text {
    padding-top: 100px;
    padding-bottom: 150px;
    img {
      width: 100%;
      opacity: 0.1;
    }
    h1 {
      margin-bottom: 50px;
    }
    .testifier {
      font-weight: 700;
      font-size: 20px;
      color: $blue-light;
    }
    .location {
      color: $gray-light;
    }
  }
  .overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
  }
}

// Video

.embed-responsive {
  position: relative;
  z-index: -1;
}

.embed {
  margin: 50px;
  border: 6px solid $blue-light;
  text-align: center;
  line-height: 100px;
  position:relative;
  @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset);
}

.embed:before,
.embed:after {
  content: "";
  position: absolute;
  z-index: -1;
  @include box-shadow(0 0 20px rgba(0,0,0,0.8));
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}
.embed:after {
  right:10px;
  left:auto;
  @include skew;
}

// Footer

footer {
  background-image: url(../img/footer-bg.png);
  background-color: $blue-lighter;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  @include background-cover;
  padding: 500px 0 50px;
  font-size: 16px;
  color: $orange;
  img {
    width: 90px;
    margin-bottom: 3px;
  }
  span.copyright {
    line-height: 40px;
    @include roboto-font;
    text-transform: none;
  }
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}

// Highlight Color Customization

::-moz-selection {
  text-shadow: none;
  background: $blue-light;
}

::selection {
  text-shadow: none;
  background: $blue-light;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

