.intro {
  color: white;
  background: url(../img/header-bg.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;

  .intro-text {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0;
    width: 100%;

    padding-top: 100px;
    padding-bottom: 150px;

    @include mobile {
      flex-flow: row wrap;
    }

    @include phablet {
      flex-flow: row wrap;
    }

    > .banner-text {
      flex: 1 100%;
      padding: 0;
    }

    > .muted-banner-desc {
      margin: 0;
      margin-top: 70%;
      margin-bottom: 20%;

      @include mobile {
        margin: 0;
      }

      @include phablet {
        margin: 0;
      }
    }

    .intro-lead-in {
      @include sans-font;
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 25px;
    }

    .intro-heading {
      @include roboto-font;
      font-weight: 700;
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 25px;
    }
    img {
      width: 100%;
      opacity: 0.1;
    }
  }
  .overlay {
    background: rgba(29, 29, 29, 0.22);
    height: 100%;
  }

  @include mobile {
    height: calc(100vh + 50px);
  }
}

.ribbon {
  position: absolute;
  color: $primary;
  font-size: 16px;
  margin: 2.3px 25px;
  padding: 3px 6px 4px 2px;
  background: rgba(0, 0, 0, 0.7);

  @include mobile {
    font-size: 14px;
    margin: 4px;
    margin-left: 12px;
    padding: 0.5px 4px 0.5px 0;
  }
}

.ribbon:before,
.ribbon:after {
  content: "";
  position: absolute;
  border: 0.8em solid rgba(0, 0, 0, 0.7);
  top: 0;
  border-left-width: 0.4em;
  border-right-width: 0.4em;
}

.ribbon:after {
  right: -0.7em;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.ribbon:before {
  left: -0.7em;
  border-left-color: transparent;
}

// cta

.cta {
  height: 100px;
  margin-top: -100px;
  color: lighten($gray-light, 40);
  background: $gray-bg;
  padding-top: 15px;
  position: absolute;
  width: 100%;
  .action {
    font-size: 20px;
    margin-top: 6px;

    @include mobile {
      font-size: 16px;
      line-height: 1.5;
      margin-top: -6px;
    }

    @include tablet {
      font-size: 22px;
      margin-top: 0;
    }
  }

  > .container {
    margin: 10px auto;
    .row {
      align-items: center;
      display: flex;
      flex-direction: row;

      @include smaller-device {
        flex-direction: column;
      }
    }
  }

  @include smaller-device {
    height: 150px;
    margin-top: -150px;
  }
}

.home-content {
  &.place {
    margin-top: 60px;
    p {
      color: rgba(179, 235, 239, 0.5);
      font-size: 20px;
      font-weight: 400;
      text-shadow: 0px 1px 2px black;

      @include mobile {
        font-size: 16px;
      }

      @include phablet {
        font-size: 18px;
      }
    }
  }
  h1 {
    @include roboto-font;
    color: lighten($blue-light, 20%);
    line-height: 1.4;
    font-weight: 600;
    font-size: 3.5em;
    text-shadow: 0px 3px 4px black;

    @include mobile {
      padding: 0 15px;
      font-size: 2em;
      text-align: center;
      margin-top: 0;
    }

    @include phablet {
      font-size: 2.5em;
      text-align: center;
      margin-top: 30%;
    }
  }
}

// proof

.proof {
  background: #e9ecef;
  padding: 60px 0;
  box-shadow: 0px 6px 8px rgba(171, 171, 171, 0.3);
  .row.divide {
    [class*='col-'] {
      &:last-child {
        padding-left: 40px;
      }
      &:not(:last-child) {
        padding-right: 40px;
        &:after {
          background: $silver;
          width: 2px;
          content: "";
          display:block;
          position: absolute;
          top:0;
          bottom: 0;
          right: 0;
        }
      }
    }
    p {
      font-size: 16px;
      color: #7b7b7b;
      padding: 40px 0;
    }
  }

  @include mobile {
    .row.divide {
      [class*='col-'] {
        &:last-child {
          padding: 30px 15px 15px;
          border-top: 1px solid $silver;
        }
        &:not(:last-child) {
          padding: 30px 15px 15px;
          &:after {
            content: initial;
          }
        }
      }
      p {
        font-size: 16px;
        padding: 0;
      }
    }
  }
}

// volunteers

.volunteers {
  color : #405a6b;
  .profile {
    padding: 100px 0;
    background-size: cover;
    .name {
      text-transform: uppercase;
      font-size: 16px;
    }
    .title,
    .role {
      font-size: 14px;
      margin-bottom: 0;
    }
    .role-cta {
      margin-top: 10px;
    }
  }
  .header{
    @include lato-font;
    padding-top: 50px;
    line-height: 1.5;
    h4 {
      line-height: 1.5;
    }
  }
  .picture{
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
  }
  .action {
    font-weight: 400;
    font-size: 16px;
    padding-top: 20px;
  }
  .btn-primary {
    margin-top: 40px;
    white-space: normal;
  }

  @include smaller-device {
    .profile {
      text-align: center
    }
    .header{
      h4 {
        font-size: 18px;
      }
    }
    .action {
      font-size: 14px;
    }
    p {
      font-size: 16px;
    }
  }

  @include tablet {
    .header{
      padding-top: 10px;
      h4 {
        font-size: 18px;
      }
    }
    .picture{
      height: 185px;
      width: 185px;
    }
  }

  @include desktop {
    .header{
      padding-top: 20px;
    }
    .picture{
      height: 185px;
      width: 185px;
    }
  }
}

@include desktop {
  .intro {
    .intro-text {
      .intro-lead-in {
        @include sans-font;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
      }
      .intro-heading {
        @include roboto-font;
        font-weight: 700;
        font-size: 55px;
        line-height: 75px;
        margin-bottom: 30px;
      }
    }
  }
}

// Section Styles

.section {
  padding: 100px 0;
  .section-heading {
    color: $gray-dark;
    font-size: 22px;
    font-weight: 300;
  }
  .section-subheading {
    font-size: 16px;
    @include sans-font;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 75px;
  }

  @include mobile {
    .section-heading {
      font-size: 18px;
    }
    .section-subheading {
      margin-bottom: 30px;
    }
  }
}

@media(min-width:768px) {
  .section {
    padding: 200px 0;
  }
}

// Services Section
.how {
  .service-col {
    margin-bottom: 30px;
    background: #fff;
    padding: 70px 55px;
    text-align: center;
    .picture {
      width: 60px;
      margin-bottom: 30px;
    }
    .service-heading {
      margin: 12px 0;
      font-size: 22px;
      font-weight: 300;
      color: $blue-dark;
      text-transform: none;
    }
  }

  @include mobile {
    .service-col {
      padding: 70px 20px;
      margin: 0 10px 30px;
      .picture {
        width: 50px;
        margin-bottom: 15px;
      }
    }
  }
}

// testimony section

.testimony {
  color: white;
  background: url(../img/testimony-bg.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;

  .intro-text {
    padding-top: 15%;
    padding-bottom: 15%;
    img {
      width: 100%;
      opacity: 0.1;
    }
    h1 {
      margin-bottom: 2em;
    }
    h2 {
      font-weight: 400;
      letter-spacing: 1;
      line-height: 1.5;
    }
    .testifier {
      margin-top: 2em;
      font-weight: 400;
      font-size: 24px;
      color: $primary;
    }
    .location {
      font-weight: 400;
      color: $gray-light;
    }
  }
  .overlay {
    background: rgba(0, 0, 0, 0.25);
    height: 100%;
  }

  @include mobile {
    .intro-text {
      h2 {
        font-size: 24px;
      }
    }
  }
}

// Video

.why {
  .lead {
    margin-top: -70px;
    position: inherit;
    color: $white-trans;
    z-index: 1000;
    font-size: 18px;
    line-height: 1.5;
  }

  @include mobile {
    .lead {
      font-size: 14px;
      padding: 0 10px;
      text-align: center;
    }
  }

  @include tablet {
    .lead {
      margin-top: -75px;
      font-size: 16px;
    }
  }
}

.embed-responsive {
  position: relative;
}

.embed {
  border: 6px solid $gray-bg;
  border-bottom: 80px solid $gray-bg;
  text-align: center;
  line-height: 100px;
  position:relative;
  @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset);
}

// Sponsors
.sponsored-by{
  color: $gray-lighter;

  .powered-by {
    color: $white-trans-light;
  }

  .andela-logo {
    margin-top: 50px;
    width: 100%;
  }

  @include mobile {
    .andela-logo {
      margin: auto;
      margin-top: 30px;
      width: 50%;
    }
  }
}


