div.intro {
  color: white;
  background: url(../img/header-bg.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  .intro-text {
    padding-top: 100px;
    padding-bottom: 150px;
    .intro-lead-in {
      @include serif-font;
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 25px;
    }
    .intro-heading {
      @include heading-font;
      font-weight: 700;
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 25px;
    }
    img {
      width: 100%;
      opacity: 0.1;
    }
    #banner div {
      position: absolute;
      margin-top: -70px;
    }
    #banner div:nth-child(2) {
      -webkit-animation: wipe 6s;
      animation: wipe 6s;
      -webkit-animation-delay: 0;
      animation-delay: 0;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
      -webkit-mask-size: 2000px 2000px;
      -webkit-mask-image: -webkit-gradient(linear, left top, right bottom,
              color-stop(0.00,  rgba(0,0,0,1)),
              color-stop(0.45,  rgba(0,0,0,1)),
              color-stop(0.50,  rgba(0,0,0,0)),
              color-stop(0.55,  rgba(0,0,0,0)),
              color-stop(1.00,  rgba(0,0,0,0)));
      img {
        opacity: 0.4;
      }
    }
  }
  .overlay {
    background: rgba(87, 198, 212, 0.95);
  }
}

@keyframes wipe {
  0% {
    -webkit-mask-position: -1200px -1200px;
  }
  100% {
    -webkit-mask-position: 0 0;
  }
}

.home-content {
  color: #fff;
  h1 {
    text-transform: capitalize;
    font-weight: 200;
    font-size: 42px;
  }
  p {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    letter-spacing: .3px;
    line-height: 1.7em;
    margin: 30px 0;
  }
}

@media(min-width:768px) {
  div.intro {
    .intro-text {
      padding-top: 250px;
      padding-bottom: 500px;
      .intro-lead-in {
        @include serif-font;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
      }
      .intro-heading {
        @include heading-font;
        font-weight: 700;
        font-size: 55px;
        line-height: 75px;
        margin-bottom: 30px;
      }
    }
  }
}

// Section Styles

section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    @include serif-font;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 75px;
  }
}

@media(min-width:768px) {
  section {
    padding: 200px 0;
  }
}

// why Section

.why-bg {
  padding: 0;
  margin-top: -280px;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);

  .why-section {
    padding: 0;
    z-index: 10;
    padding-top: 250px;

    &.last {
      background: rgba(255, 255, 255, 0.5);
      z-index: 1;

      .why-text {
        text-align: left;
        margin-top: -20px;
        h4 {
          padding-bottom: 10px;
          font-size: 22px;
          font-weight: 300;
          color: $primary;
        }
        p {
          font-size: 22px;
        }
      }
    }
    &:last-child {
      border-right: 1px solid $blue-light;
      background: rgba(255, 255, 255, 0.7);
    }
    img {
      width: 130%;
      padding-left: 100px;
    }
  }
}

// whoami Section

.whoami-bg {
  padding-top: 0;
  margin-top: -100px;
  text-align: center;
  background: $blue-lighter;
  .whoami-section {
    padding: 0;
    z-index: 10;
    padding-top: 250px;
    .whoami-text {
      text-align: left;
      margin-top: -20px;
      h4 {
        padding-bottom: 10px;
        font-size: 22px;
        font-weight: 300;
        color: $primary;
      }
      p {
        font-size: 22px;
      }
    }
    img {
      width: 130%;
      padding-left: 100px;
    }
  }
}

// Services Section

#services {
  padding-bottom: 0;
  margin-bottom: -50px;
  .service-col {
    margin-bottom: 40px;
    .col-md-2 {
      padding-right: 0;
      text-align: right;
      margin-top: 8px;
    }
    .puzzle {
      width: 30px;
    }
    .service-heading {
      margin: 12px 0;
      font-size: 22px;
      font-weight: 300;
      color: $blue-dark;
      text-transform: none;
    }
    p {
      font-size: 20px;
    }
  }

  .section-heading {
    color: $gray-dark;
    font-size: 22px;
    font-weight: 300;
  }
}

