.goals {
  .goals-overlay {
    background: url(../img/connected-dots.png) no-repeat;
    background-size: contain;
    background-position: 60px -150px;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.05;
  }
}